{
    "accounts": [
        {
            "name": "avito_account_1",
            "data": {
                "annex": "<p><br/></p> <p><strong>✅✅✅✅✅ Гарантия 12 месяцев! 💫💫💫💫💫</strong></p> <p><strong>🚕🚕🚕🚕🚕 Оперативная Доставка по России Транспортными компаниями 🚛🚛🚛 Доставляем по СПб за 1 час! 🚁🚁🚁🚁🚁</strong></p> <p><strong>🔥🔥🔥🔥🔥 Добавляйте объявление в избранное что бы не потерять  🔥🔥🔥🔥🔥</strong></p> <p><strong>🔫🔨🔧 Оперативный гарантийный сервис! 🔫🔨🔧</strong></p> <p><strong>📲📲📲 Обращайтесь за помощью в сообщениях или по телефону, всегда на связи! 📞📞📞</strong></p>",
                "donors": [
                    {
                        "name": "mkslift",
                        "link": "https://www.mkslift.ru/export_xml.php?key=176ec86554e7edcec3dd5ef05dd58d9d",
                        "discount": 10,
                        "days_delta": 14,
                        "yandex_image_folder_path": "MKSLIFT Main pictures"
                    },
                    {
                        "name": "ironmac",
                        "link": "https://ironmac-kompressor.com/upload/ironmac_kompressor_com.csv",
                        "discount": 25,
                        "days_delta": 14,
                        "yandex_image_folder_path": "IronMac Main pictures"
                    }
                ],
                "yandex_token": "",
                "excel_file_name": "Выгрузка Промторг"
            }
        }
    ]
}

