{
    "accounts": [
        {
            "name": "avito_account_1",
            "data": {
                "annex": "<p><br/></p> <p><strong>✅✅✅✅✅ Гарантия 12 месяцев! 💫💫💫💫💫</strong></p> <p><strong>🚕🚕🚕🚕🚕 Оперативная Доставка по России Транспортными компаниями 🚛🚛🚛 Доставляем по СПб за 1 час! 🚁🚁🚁🚁🚁</strong></p> <p><strong>🔥🔥🔥🔥🔥 Добавляйте объявление в избранное что бы не потерять  🔥🔥🔥🔥🔥</strong></p> <p><strong>🔫🔨🔧 Оперативный гарантийный сервис! 🔫🔨🔧</strong></p> <p><strong>📲📲📲 Обращайтесь за помощью в сообщениях или по телефону, всегда на связи! 📞📞📞</strong></p>",
                "donors": [
                    {
                        "name": "mkslift",
                        "link": "https://www.mkslift.ru/export_xml.php?key=176ec86554e7edcec3dd5ef05dd58d9d",
                        "discount": 10,
                        "days_delta": 14,
                        "yandex_image_folder_path": "MKSLIFT Main pictures"
                    },
                    {
                        "name": "ironmac",
                        "link": "https://ironmac-kompressor.com/upload/ironmac_kompressor_com.csv",
                        "discount": 25,
                        "days_delta": 14,
                        "yandex_image_folder_path": "IronMac Main pictures"
                    }
                ],
                "yandex_token": "",
                "excel_file_name": "Выгрузка Промторг"
            }
        },
        {
            "name": "avito_account_2",
            "data": {
                "annex": "-----------------------------------------------------------------------\n⚡️ У нас есть Верстаки и тележки для инструмента, стеллажи.\n⚡️ Отличное качество нашего производтва! Отличный внешний вид! Низкая цена!\n⚡️ Если вы решили приобрести более 1 верстака, сообщите об этом, сделаем Вам дополнительную скидку !!!\n⚡️ Оставьте отзыв после покупки и получите КЭШБЭК за покупку !!!\n⚡️ Большой ассортимент по цветам и компоновке всегда на нашем складе\n*************************\nТЕЛО ОПИСАНИЯ\n-----------------------------------------------------------------------\n⚡️ Всегда рады, помочь с выбором Тележки или Верстака !!!\n⚡️ В нашем профиле много Интересных моделей металлической мебели и не только !!!\n🚛 Доставка по всей России: ПЭК Деловые линии или любая удобная вам ТК  Курьерская доставка по СПб\n⚡️ Любые способы оплаты\n⚡️ Сохраняйте объявление в избранное что бы не потерять !!!\n📍 Адрес: Санкт-Петербург, улица Розенштейна, 39к3",
                "donors": [
                    {
                        "name": "garopt1",
                        "link": "https://garopt.online/yandexmarket/95605b0a-b97e-49ea-8026-82ed7393f9b8.xml",
                        "discount": 0,
                        "days_delta": 14,
                        "yandex_image_folder_path": "Garopt1 Main pictures"
                    },
                    {
                        "name": "garopt2",
                        "link": "https://garopt.online/yandexmarket/5e13177a-8ca9-483d-b442-b9f3a7f3fcbc.xml",
                        "discount": 0,
                        "days_delta": 14,
                        "yandex_image_folder_path": "Garopt2 Main pictures"
                    }, 
                    {
                        "name": "garopt3",
                        "link": "https://garopt.online/yandexmarket/9fc40bc6-b745-48be-a919-ec4a4572b21a.xml",
                        "discount": 0,
                        "days_delta": 14,
                        "yandex_image_folder_path": "Garopt3 Main pictures"
                    }
                ],
                "yandex_token": "",
                "excel_file_name": "80652359_2024-07-09T11_41_02Z (2)"
            }
        },
        {
            "name": "avito_account_3",
            "data": {
                "annex": "<p><br/></p> <p><strong>✅✅✅✅✅ Гарантия 12 месяцев! 💫💫💫💫💫</strong></p> <p><strong>🚕🚕🚕🚕🚕 Оперативная Доставка по России Транспортными компаниями 🚛🚛🚛 Доставляем по СПб за 1 час! 🚁🚁🚁🚁🚁</strong></p> <p><strong>🔥🔥🔥🔥🔥 Добавляйте объявление в избранное что бы не потерять  🔥🔥🔥🔥🔥</strong></p> <p><strong>🔫🔨🔧 Оперативный гарантийный сервис! 🔫🔨🔧</strong></p> <p><strong>📲📲📲 Обращайтесь за помощью в сообщениях или по телефону, всегда на связи! 📞📞📞</strong></p>",
                "donors": [
                    {
                        "name": "wiederkraft",
                        "link": "https://wiederkraft.ru/",
                        "discount": 0,
                        "days_delta": 14,
                        "yandex_image_folder_path": "WiederKraft Main pictures"
                    }
                ],
                "yandex_token": "",
                "excel_file_name": "Выгрузка WiederKraft"
            }
        }
    ]
}

